# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build output directories
build/
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
Win32/
TestResults/
vcpkg_installed/

# Other VS stuff
.vs/
**/.vs/
*.vcxproj.user
*.recipe
*.ilk
*.log
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.exp
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.testlog
*.manifest
*.ipch
*.FileListAbsolute.txt
*.iobj
*.ipdb
*.trx
